:root {
  --brand-color: #03755e;
  --theme-white: #fff;
  --theme-black: #000;
  --theme-body: #000;
  --theme-accent: #cbefb6;
  --accent-green: #cbefb6;
  --theme-secondary: #0f362e;
  --theme-soft-gray: rgba(0, 0, 0, 0.05);
  --theme-muted: #878787;
  --spacing-1: 4px;
  --spacing-2: 6px;
  --spacing-3: 8px;
  --spacing-4: 10px;
  --spacing-5: 16px;
  --spacing-6: 24px;
  --spacing-7: 30px;
  --spacing-8: 32px;
  --spacing-9: 36px;
  --spacing-10: 40px;
  --spacing-11: 42px;
  --rounded: 8px;
  --font-xs: 0.8rem;
  --font-s: 1rem;
  --font-sm: 1.5rem;
  --font-m: 2rem;
  --font-l: 2.5rem;
  --font-xl: 3rem;
  --font-xxl: 3.5rem;
}

html,
body {
  width: 100%;
}

html {
  font-family: "Open Sans";
  line-height: 1.5;
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
::after,
::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@-ms-viewport {
  width: device-width;
}

body {
  font-size: var(--font-s);
  font-weight: 400;
  color: var(--theme-black);
  background-color: var(--theme-white);
  margin: 0;
  overflow-x: hidden;
}

a {
  color: var(--brand-color);
  text-decoration: none;
}

p {
  line-height: 1.5;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.headline,
.headline h1,
.headline h2,
.headline h3,
.headline h4 {
  font-family: "Lora";
  margin: 0;
  font-weight: 400;
}

/* Text alignment */
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

/* Content alignment */
.align-left {
  align-items: flex-start !important;
}

.align-right {
  align-items: flex-end !important;
}

.align-center {
  align-items: center !important;
}

/* Gaps */
.gap--4 {
  gap: 4px;
}
.gap--8 {
  gap: 8px;
}
.gap--16 {
  gap: 16px;
}
.gap--20 {
  gap: 20px;
}
.gap--32 {
  gap: 32px;
}
.gap--40 {
  gap: 40px;
}

.gap--80 {
  gap: 80px;
}

/* Flex direction and distribution */
.in-column {
  display: flex;
  flex-direction: column;
}

.in-row {
  display: flex;
  flex-direction: row;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

/* Paddings */
.pv--8 {
  padding-top: 8px;
  padding-bottom: 8px;
}
.pv--16 {
  padding-top: 16px;
  padding-bottom: 16px;
}
.pv--20 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.pv--24 {
  padding-top: 24px;
  padding-bottom: 24px;
}
.pv--30 {
  padding-top: 30px;
  padding-bottom: 30px;
}
.pv--40 {
  padding-top: 40px;
  padding-bottom: 40px;
}
.pv--56 {
  padding-top: 56px;
  padding-bottom: 56px;
}
.pv--80 {
  padding-top: 80px;
  padding-bottom: 80px;
}
.ph--8 {
  padding-left: 8px;
  padding-right: 8px;
}
.ph--16 {
  padding-left: 16px;
  padding-right: 16px;
}
.ph--20 {
  padding-left: 20px;
  padding-right: 20px;
}
.ph--40 {
  padding-left: 40px;
  padding-right: 40px;
}
.ph--56 {
  padding-left: 56px;
  padding-right: 56px;
}

/* Columns */
.column--20,
.column--40,
.column--50,
.column--60,
.column--80,
.column--100 {
  display: flex;
  flex-direction: column;
}

.column--20 {
  width: 20%;
}

.column--40 {
  width: 40%;
}

.column--50 {
  width: 50%;
}

.column--60 {
  width: 60%;
}

.column--80 {
  width: 80%;
}

.column--100 {
  width: 100%;
}

.grid--2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid--3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid--4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid--5 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.grid--4.repeat {
  grid-template-columns: repeat(4, 1fr);
  display: inline-grid;
}

.no-scroll {
  overflow: hidden;
}

@keyframes move-up {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-50px);
  }
}

/* Dark Theme */
.dark-mode {
  --theme-secondary: #cbefb6;
  --theme-accent: #0f362e;
  --theme-body: var(--theme-white);
}

.donate {
  background: var(--theme-secondary);
  color: var(--theme-white);
}

body.dark-mode {
  background: var(--theme-black);
  color: var(--theme-white);
}
.dark-mode .donate {
  background: var(--theme-secondary);
  color: var(--theme-black);
}

/* Navigation */
.branding {
  width: 230px;
}

.branding .theme-dark {
  display: none;
}

.dark-mode .icon {
  color: var(--theme-white);
}

#off-canvas {
  position: absolute;
  transform: translateX(200vw);
  top: 0;
  left: 0;
  background: var(--theme-secondary);
  height: 100%;
  width: 100%;
  z-index: 1;
  transition-duration: 0.3s;
}

#off-canvas.active {
  transform: translateX(0);
  transition-duration: 0.3s;
}

ul.main-menu.nav-desktop.off-canvas {
  display: block;
  column-count: 2;
}

ul.main-menu.nav-desktop.off-canvas li {
  padding: 10px 0;
  margin: 0;
}

ul.main-menu.nav-desktop.off-canvas li a {
  font-size: clamp(1.8rem, 3vw + 1rem, 3rem);
  font-family: "Lora";
  color: var(--theme-accent);
}

.global-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-flex;
  gap: 20px;
}

.global-nav ul li a.active {
  color: var(--theme-accent);
  font-weight: 800;
}

.global-nav span.icon.icon-globe {
  font-size: 36px;
  color: var(--theme-accent);
}

.global-nav {
  display: flex;
  align-items: center;
}

.global-nav a {
  font-size: small;
  font-family: "Open Sans";
  font-weight: 600;
}

.global-nav span.icon.icon-cancel {
  color: white;
  font-size: 20px;
  position: absolute;
  right: 60px;
}

/* Buttons */
.theme--button {
  padding: 16px 48px 16px 24px;
  font-size: var(--font-s);
  border-radius: 24px;
  font-family: "Open Sans";
  display: inline-block;
  box-sizing: border-box;
  margin-top: 24px;
  position: relative;
  line-height: 1;
  cursor: pointer;
}

.theme--button span {
  display: flex;
  position: absolute;
  right: 10px;
  top: 17px;
  animation: all 0.2s;
}

.theme--button:hover span {
  margin-right: 10px;
}

.theme--button.simple {
  padding: 16px 24px;
}

.theme--button.primary {
  background: var(--theme-secondary);
  color: var(--theme-white);
}

.theme--button.secondary {
  background: var(--theme-accent);
  color: var(--theme-body);
}

.theme--button.outlined {
  border: 1px solid var(--theme-black);
  color: var(--theme-black);
}

.dark-mode .theme--button.outlined {
  border: 1px solid var(--theme-white);
  color: var(--theme-white);
}

.theme--button.no-margins {
  margin: 0;
}

.dark-mode .theme--button.primary {
  color: var(--theme-black);
}

.dark-mode .theme--button.primary .icon {
  color: var(--theme-black);
}

/* Menu */
.menu-container {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-6);
  height: 48px;
}

ul.main-menu {
  list-style: none;
  display: flex;
  gap: var(--spacing-6);
  margin: 0;
  align-items: center;
  column-count: 2;
}

ul.main-menu li {
  padding: var(--spacing-6) 0;
  position: relative;
}

ul.main-menu li a {
  opacity: 1;
  font-size: var(--font-s);
  font-weight: 600;
  color: var(--theme-black);
  cursor: pointer;
}

.dark-mode ul.main-menu li a {
  color: var(--theme-white);
}

ul.main-menu li a:hover,
ul.main-menu li a.active {
  color: var(--brand-color);
}

ul.main-menu:not(.off-canvas) li a:hover:before,
ul.main-menu:not(.off-canvas) li a.active:before {
  content: "";
  position: absolute;
  top: -8px;
  left: 0;
  width: 100%;
  height: 8px;
  background-color: var(--brand-color);
  opacity: 1;
}

.menu-container .theme--button {
  margin: 0;
  height: min-content;
}

.container {
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
}

.container.centered {
  justify-content: center;
}

.container.content {
  padding: 40px 40px 80px 40px;
}

.section-title {
  display: grid;
  grid-template-columns: max-content 1fr;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  align-items: center;
}
.section-title h4 {
  font-family: "Open Sans";
  font-weight: 600;
  text-transform: uppercase;
  font-size: var(--font-xs);
  display: flex;
  width: max-content;
}

.section-title .divider {
  display: flex;
  height: 1px;
  background: rgba(15, 54, 46, 0.078);
  /* width: 100%; */
}

/* Posts in a single column */
.article--container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.article--container a {
  color: var(--theme-body);
}

.article--container img {
  width: 100%;
  border-radius: 5px;
  height: auto;
}
.article--container .featured-image {
  position: relative;
}

.article--container .featured-image .post-icon {
  height: var(--spacing-8);
  width: var(--spacing-8);
  position: absolute;
  background: var(--theme-white);
  border-radius: 50%;
  right: var(--spacing-4);
  top: var(--spacing-4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.featured-image .post-icon span {
  color: var(--brand-color);
  font-size: 0.8rem;
}

.article--container .featured-image.full-height img {
  height: 100%;
  object-fit: cover;
}

.featured-image .img-overlay {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 99%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 38.06%, rgba(0, 0, 0, 0.8) 100%);
  border-radius: 8px;
}

.article--container .featured-image .title,
.article--container-headline {
  position: absolute;
  bottom: 24px;
  left: 24px;
  width: calc(100% - 48px);
}

.article--container-headline .title {
  position: relative !important;
  display: flex;
  flex-direction: column;
}
.article--container-headline .meta,
.article--container-headline .meta a {
  font-family: "Open Sans";
  color: var(--theme-white) !important;
}

.article--container .featured-image .title h1 {
  font-size: var(--font-m);
  color: var(--theme-white);
  width: calc(100% - 48px);
  line-height: 1.1;
  overflow: hidden;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.article--container .title h3 {
  font-size: 1.125rem;
  font-weight: 400;
  margin: 0;
  line-height: 133.333%;
}

.article--container .meta,
.article--container .meta a {
  color: var(--brand-color);
  text-transform: uppercase;
  font-size: var(--font-xs);
  font-weight: 600;
}

.article--container .meta .date:before {
  content: " · ";
}

.article--container.bg-gray {
  background: var(--theme-soft-gray);
}

.article--container.bg-gray .title h3 {
  max-width: 100%;
}

.article--container.bg-gray img {
  border-radius: 0 0 5px 5px;
  object-fit: cover;
  height: 100%;
}

.article--container.bg-gray a {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

/* Sections */
.section--highlight .article--container {
  margin: 0 auto;
}
.section--highlight .article--container.narrow {
  width: 25%;
}
.section--highlight.videos .article--container {
  width: 100%;
}

.section--highlight .title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section--highlight .meta {
  font-family: "Open Sans";
}

.sound-wave {
  background: url(../img/sound-wave.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.section--headline .theme--button {
  margin: 0;
}

.section--headline h1 {
  font-size: var(--font-xxl);
  font-family: "Lora";
  font-weight: 400;
}

/* Banners */
.banner {
  display: flex;
  flex-direction: column;
  border-radius: var(--rounded);
  align-items: center;
  text-align: center;
  height: max-content;
}

.banner.outlined {
  border: 1px solid rgba(15, 54, 46, 0.078);
}

.dark-mode .banner.outlined {
  border-color: var(--theme-white);
}

.banner.accent {
  background: var(--theme-accent);
}

.banner .inner {
  width: 100%;
  margin: 0 auto;
  max-width: 50rem;
}

.latest-banners .banner .inner {
  max-width: 100%;
}

.banner .title h1 {
  font-size: var(--font-m);
  font-weight: 400;
  font-family: "Lora";
}

.banner .title h1.extra-large {
  font-size: var(--font-xxl);
}

.banner a.theme--button.primary {
  color: var(--theme-accent);
}

.banner a.theme--button {
  width: max-content;
}

/* Inspiration block */
.section--inspiration {
  background: radial-gradient(
    1115.58% 185.33% at -20.51% -27.86%,
    var(--brand-color) 0%,
    var(--theme-black) 100%
  );
  min-height: 50vh;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 80px 40px;
  color: var(--theme-accent);
  box-sizing: border-box;
}

.section--inspiration .title {
  width: 50%;
  align-self: center;
}

.section--inspiration .title h1 {
  font-family: "Lora";
  font-weight: 400;
  font-size: 4, 875rem;
  line-height: 115%;
}

.dark-mode .section--inspiration .title h1 {
  color: var(--accent-green);
}
.section--inspiration .items {
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.section--inspiration .item-container {
  position: relative;
}
.section--inspiration .item-container:first-child {
  margin-bottom: 40px;
}
.section--inspiration .item-container img {
  border-radius: 16px;
  width: 100%;
  object-fit: cover;
  /* animation: move-up linear;
  animation-timeline: view();
  animation-range-start: 100px;
  animation-range-end: 1000px; */
}

.section--inspiration .item-container.first img {
  width: 50%;
}

.section--inspiration .item-container .item-title {
  background: rgba(7, 245, 197, 0.078);
  padding: 10px 24px;
  font-size: var(--font-l);
  text-transform: lowercase;
  font-family: "Lora";
  border-radius: 40px;
  position: absolute;
  color: var(--accent-green);
}

.section--inspiration .item-container:nth-child(1) .item-title {
  right: 40%;
  bottom: -15%;
}

.section--inspiration .column--60 > .item-container:last-child img {
  height: 296px;
  width: 296px;
}

.section--inspiration .item-container:nth-child(2) .item-title {
  left: -30%;
  bottom: 10%;
}

.section--highlight h1,
.section--highlight h3 {
  font-family: "Lora";
  font-weight: 400;
  max-width: 80%;
}

.section--highlight h1.text-center {
  margin: 0 auto;
}

.section--highlight.videos h1,
.section--highlight.videos h3 {
  max-width: 100%;
}

.section--highlight h1 {
  font-size: var(--font-xxl);
}
.section--highlight h3 {
  font-size: var(--font-sm);
  line-height: normal;
  margin: 0;
}

.section--highlight h1 span {
  background: var(--theme-accent);
  border-radius: 40px;
  display: inline-block;
  padding: 0 1rem;
}

.section--highlight h1 span.outlined,
.section--highlight h1 span.outlined span {
  background: transparent;
}

.section--highlight h1 span.outlined {
  border: 2px solid;
}

.section--highlight h1 span.outlined a {
  display: inline-flex;
  align-items: center;
}

.section--highlight h1 span.outlined a,
.section--highlight h1 span.outlined span.icon {
  color: var(--theme-body);
}

.section--highlight h1 span.outlined span.icon {
  font-size: 2rem;
  padding: 0 0 0 1rem;
}

.section--highlight h1 span.outlined span.icon {
  font-size: 2rem;
}

.section--highlight h2 {
  font-weight: 400;
}

#series-slider .article--container {
  gap: 20px;
}

#series--description-container {
  display: flex;
  flex-direction: row;
}

#series--description-container .series--browse {
  align-items: end;
}
.section--highlight.series {
  height: 100%;
}
#series-slider .article--container .featured-image {
  height: 580px;
}

#series-slider .article--container img {
  object-fit: cover;
  height: 100%;
}

#formats-slider,
#formats-slider.slick-slider,
.slider-formats.slick-slider {
  height: max-content;
}

.article--container-headline {
  position: absolute;
  left: 24px;
  bottom: 24px;
}
.section--series-more .title {
  position: relative !important;
  left: 0 !important;
  bottom: 0 !important;
}
.section--series-more h3 {
  font-size: var(--font-m);
  color: var(--theme-white);
}

/* Topics slider */
.topics-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--spacing-7);
  aspect-ratio: 1;
}

/* Slick slider */
.slick-track {
  display: flex !important;
}

.slick-slide {
  height: inherit !important;
}

.slick-slide > div {
  height: 100%;
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

/* Podcast player */
.podcast--player {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-3);
}

.podcast--player .podcast-link {
  align-self: flex-end;
}

.podcast--player .podcast-embed {
}

/* Sharing modal */
#share-dialog {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: none;
  background: var(--theme-white);
  color: var(--theme-body);
}

.dark-mode #share-dialog {
  background: var(--theme-black);
}

#share-dialog .close {
  position: absolute;
  top: 0;
  right: 0;
  padding: var(--spacing-3);
  cursor: pointer;
  color: var(--theme-secondary);
}

#share-dialog a:not(.close) {
  color: var(--theme-body);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-4);
}

#share-dialog a span {
  border-width: 1px;
  border-color: var(--theme-soft-gray);
  border-style: solid;
  border-radius: 100%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}

.dark-mode #share-dialog a span {
  border-color: var(--theme-secondary);
}

::backdrop {
  background: rgba(0, 0, 0, 0.6);
}

#share-dialog h1 {
  font-size: var(--font-m);
  font-weight: 400;
  font-family: "Lora";
  color: var(--theme-body);
}

#share-dialog label {
  font-size: var(--font-s);
  font-weight: 600;
}

#share-dialog input {
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: var(--spacing-1);
  color: var(--theme-muted);
  padding: var(--spacing-3);
  font-size: var(--font-s);
  padding-right: var(--spacing-11);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dark-mode #share-dialog input {
  border: 1px solid var(--theme-secondary);
  background: var(--theme-black);
}

#share-dialog .share-dialog-link {
  position: relative;
}

#share-dialog .icon-share svg {
  fill: var(--theme-body);
}

#share-dialog .icon-share-copy {
  position: absolute;
  right: var(--spacing-3);
  top: 40px;
  cursor: pointer;
}

#share-dialog .icon-share-copy svg {
  stroke: var(--theme-secondary);
}

/* Search page */
.search #content {
  max-width: 100%;
  display: block;
  padding: 0 40px;
  margin-top: 40px;
}

.results-wrapper {
  width: 100%;
}

.search .search-input-wrapper {
  position: relative;
  width: 100%;
}

.search input::placeholder {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  font-family: "Open Sans";
  color: var(--brand-color);
}

.dark-skin .search .tax-item-wrapper input,
.dark-skin .search input::placeholder {
  color: var(--accent-green-500);
}

.dark-skin .search-input-wrapper svg path {
  stroke: #fff;
}

.search-input-wrapper svg {
  position: absolute;
  top: 50%;
  left: 16px;
  width: 18.001px;
  height: 18.001px;
  transform: translateY(-50%);
}

.tax-tag-topic,
.tax-tag-location,
.format > button {
  margin: 8px 8px 8px 0;
  padding: 4px 12px;
  border-radius: 40px;
  border: 1px solid #000;
  cursor: pointer;
  background: transparent;
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 22px;
  text-transform: capitalize;
}

.dark-skin .tax-tag-topic,
.dark-skin .tax-tag-location,
.dark-skin .format > button {
  border: 1px solid var(--accent-green-500);
  color: #fff;
}

.search .dropdown span {
  display: block;
  width: 100%;
  cursor: pointer;
  margin: 4px 0;
  color: rgba(0, 0, 0, 0.32);
}

.dark-skin .search .dropdown span {
  color: rgba(7, 245, 197, 0.4);
}

.search .dropdown span mark {
  color: #000;
  background-color: transparent;
}

.dark-skin .search .dropdown span mark {
  color: var(--accent-green-500) !important;
}

.search-input-wrapper button {
  position: absolute;
  right: 17px;
  top: 19px;
}

.search-input-wrapper button:after {
  content: "\e803";
  cursor: pointer;
  font-size: 10px;
  font-family: "fontello";
}

.search .tax-item-wrapper button:after {
  content: "\e803";
  margin-left: 6px;
  cursor: pointer;
  font-size: 10px;
  font-weight: lighter;
  font-family: "fontello";
}

.dark-skin .search .tax-item-wrapper button:after {
  color: var(--accent-green-500);
}

button.clear-button {
  display: flex;
  background: transparent;
  border: none;
  cursor: pointer;
  align-items: center;
  height: 20px;
  width: 20px;
  justify-content: center;
}

.dark-skin button.clear-button {
  color: var(--accent-green-500);
}

button.clear-button:after {
  margin-left: 0;
}

.search-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

.search .tax-wrapper {
  margin: 0;
  width: 100%;
  display: flex;
  gap: 8px;
}

.search .tax-item-wrapper {
  position: relative;
  background: rgba(15, 54, 46, 0.07);
  border-radius: 5px;
  margin-top: 8px;
  display: flex;
  flex-wrap: wrap;
  width: 32.949%;
  padding: 6.5px 20px;
  align-items: flex-start;
}

.dark-skin .search .tax-item-wrapper,
.dark-skin .search input#searchInput {
  background: rgba(3, 117, 94, 0.4);
}

.search .tax-item-wrapper input {
  padding: 12px 0;
  border: none;
  background: transparent;
  display: flex;
  align-items: flex-start !important;
  flex: 1 1 0%;
  font-size: 16px;
}

.search input#searchInput {
  padding: 16px 16px 16px 48px;
  width: 100%;
  border: none;
  font-size: 1rem;
  background: rgba(15, 54, 46, 0.078);
  min-height: 60px;
  font-family: "Open Sans";
}

#topics-results,
#locations-results,
#formats-results,
#topics-suggestions,
#locations-suggestions,
#formats-suggestions,
#articles-suggestions {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  background: #eff1f0;
  z-index: 1;
  width: 100%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  min-height: max-content;
  left: 0;
  max-height: 200px;
  overflow-y: auto;
}

.dark-skin .search .dropdown {
  background-color: #0f362e !important;
}

#topics-suggestions span,
#locations-suggestions span,
#formats-suggestions span,
#articles-suggestions span {
  color: #000;
}

.dark-skin #topics-suggestions span,
.dark-skin #locations-suggestions span,
.dark-skin #formats-suggestions span,
.dark-skin #articles-suggestions span {
  color: var(--accent-green-500);
}

button#search {
  padding: 10px 20px;
  border-radius: 3px;
  border: none;
  background: #03511d;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}

input:focus-visible {
  outline: none;
}

.search .suggestions {
  display: flex;
  gap: 28px;
}

.search .suggestion-item a {
  font-family: Lora;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: var(--brand-color);
}

.dark-skin .search .suggestion-item a {
  color: var(--accent-green-500);
}

.search #default,
.search #no-results {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 120px 0;
}

.search #default h1,
.search #no-results h1 {
  font-family: "Lora";
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
  margin-bottom: 40px;
  text-align: center;
}
#results-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#list-view,
#results-view-toggles button:last-child {
  font-size: 0;
  color: transparent;
  background-color: transparent;
  border: none;
}

#list-view:before {
  content: "\e80d";
  font-family: "fontello";
  color: var(--brand-color);
  font-size: 16px;
  vertical-align: middle;
  padding: 10px;
}

.dark-skin #grid-view:before {
  color: var(--theme-secondary);
}

#list-view.active:before {
  border-radius: 24px;
  background-color: var(--brand-color);
  padding: 13px;
  color: #fff;
}

.dark-skin #list-view.active:before {
  background-color: var(--theme-secondary);
  color: #000;
}

#results-view-toggles button.active:last-child:before,
#results-view-toggles button.active:last-child:before {
  content: "\e805";
  border-radius: 24px;
  background-color: var(--brand-color);
  padding: 13px;
  color: #fff;
}

.dark-skin #results-view-toggles button.active:last-child:before {
  background-color: var(--theme-secondary);
  color: #000;
}

#results-view-toggles button:last-child:before {
  content: "\e805";
  border-radius: 24px;
  background-color: transparent;
  padding: 10px;
  color: var(--brand-color);
  font-family: "fontello";
  font-size: 16px;
  vertical-align: middle;
}

.dark-skin #results-view-toggles button:last-child:before {
  color: var(--theme-secondary);
}

#post-results {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 750px;
}

#results-header-left {
  display: flex;
  align-items: center;
  gap: 40px;
}

#post-results.grid-view {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 40px;
  width: 100%;
}

#post-results.list-view {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
}

#post-results.list-view .post-img-container {
  height: 80px;
  width: 80px;
}

#post-results.list-view a {
  display: grid;
  gap: 20px;
  grid-template-columns: 100px 1fr 1fr;
  align-items: center;
}

#post-results.list-view .list-item {
  margin: 10px;
}

#post-results .list-item a img {
  width: 100%;
  height: auto;
  max-height: 160px;
  object-fit: cover;
  border-radius: 8px;
}

#post-results.list-view .list-item a img {
  width: auto;
  height: 100%;
}

.list-item h4 {
  font-family: "Lora" !important;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-top: 16px;
}

.list-view .list-item h4 {
  font-size: 16px;
  margin-top: 0;
}

#results-view-toggles {
  display: flex;
  justify-content: flex-end;
  padding: 4px;
  width: 88px;
  float: right;
  height: 48px;
  margin: 40px 0;
  border-radius: 24px;
  border: 1px solid rgba(15, 54, 46, 0.1);
}

.dark-skin #results-view-toggles {
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.post-img-container {
  max-height: 188px;
  overflow: hidden;
  border-radius: 8px;
}

.search .post-meta {
  display: block;
  font-family: "Open Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  text-transform: uppercase;
  color: var(--brand-color);
}

.dark-skin .search .post-meta {
  color: var(--accent-green-500) !important;
}

.grid-view .post-meta span:first-child:after {
  content: " · ";
}

.list-view .post-meta {
  display: grid;
  grid-template-columns: 2fr 1fr 0.2fr;
}

.list-view .post-meta span {
  margin: 0 4px;
}

.grid-view .meta-author:after {
  content: " · ";
}

.list-view .post-meta:after {
  content: "\e80f";
  font-family: "fontello";
  text-align: right;
  font-size: 16px;
  float: right;
}

.dark-skin .search .results-footer button {
  color: #000;
  background: var(--theme-secondary);
}

.hide {
  display: none !important;
}

.results-footer {
  display: flex;
  justify-content: center;
  padding: 60px 0 80px;
}

.tax-search-actions,
.search-actions {
  position: absolute;
  top: 2px;
  margin-right: 5px;
  display: flex;
  right: 0;
  height: calc(100% - 2px);
  flex-direction: column;
}
.search-actions {
  width: 20px;
}

.preloader-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.preloader-wrapper svg {
  height: 22px;
}

/* Tooltip */
.extra-tooltip {
  position: relative;
  display: inline-flex;
  height: 22px;
}

.extra-tooltip .tooltiptext {
  visibility: hidden;
  width: max-content;
  background-color: #fff;
  color: #000;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -40px;
  z-index: 10;
  font-size: 0.8em;
}

.extra-tooltip:hover .tooltiptext {
  visibility: visible;
}

.extra-tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
}

.search-actions .tooltiptext {
  top: 200%;
  margin-left: -75px;
}

/* Mongabay tools */
.tools-item {
  height: 250px;
}

.tools-item img {
  height: 100%;
  width: auto;
}

/* Single post */
.single-videos .video iframe {
  width: 100%;
  height: 100vh;
  border-radius: var(--rounded);
}

.article-headline h1 {
  font-size: var(--font-xl);
  font-family: "Lora";
  font-weight: 400;
  margin: 0;
  line-height: 1.33;
}

.single .about-author {
  display: flex;
  align-items: center;
}

.single .author-avatar {
  border-radius: 50%;
  overflow: hidden;
  width: 48px;
  height: 48px;
  margin-right: 13px;
}

.single .meta-author-circle {
  width: 48px;
  height: 48px;
  background: rgba(15, 54, 46, 0.08);
  display: flex;
  border-radius: 50%;
}

.single .author-info a {
  display: block;
  color: var(--theme-black);
}

.single .author-info span {
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1.33;
}

.single .meta-comments-count,
.single .social {
  height: 32px;
  padding: var(--spacing-1) var(--spacing-5);
  justify-content: center;
  align-items: center;
  border-radius: 80px;
}

.single .article-cover-image {
  margin: 24px 0 80px 0;
}

.single .article-cover-image > div {
  min-height: 480px;
  border-radius: var(--rounded);
}

.single .row > #main {
  padding: 0 10%;
}

.single .bulletpoints {
  margin-bottom: 80px;
}

.toggle-bulletpoints {
  width: 100%;
  height: 100px;
  margin-top: -90px;
  background: linear-gradient(to bottom, transparent, var(--theme-white), var(--theme-white));
  position: absolute;
  left: 0;
  border: none;
}

.dark-skin .toggle-bulletpoints {
  background: linear-gradient(to bottom, transparent, var(--theme-black), var(--theme-black));
}

.toggle-bulletpoints span {
  line-height: 150px;
  color: var(--brand-color);
  font-size: 14px;
  font-weight: 600;
}

.toggle-bulletpoints span:after {
  content: "\e80c";
  margin-left: var(--spacing-4);
  font-family: "fontello";
  font-weight: 100;
  font-size: 1.25rem;
  vertical-align: middle;
}

.toggle-bulletpoints.bullets-visible {
  background: transparent !important;
  margin-top: -50px;
}

.toggle-bulletpoints.bullets-visible span:after {
  content: "\e809";
}

.single #main figure {
  margin: 40px 0;
}

.single #main figure > img {
  border-radius: var(--rounded);
}

.single #main figure .wp-caption-text {
  font-size: 14px;
  line-height: 160%;
  padding-top: 10px;
}

#single-article-tags .tags-list a {
  margin: 8px 8px 8px 0;
  padding: 4px 12px;
  border-radius: 40px;
  border: 1px solid #000;
  font-size: 16px;
  line-height: 22px;
  text-transform: capitalize;
  color: var(--dark);
}

#single-article-footer .author-info span {
  color: var(--dark);
}

.single-article-meta {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: space-between;
}

.single-article-meta .theme--button {
  margin: 0;
}

/* Soliloquy */

.wp-block-soliloquy-soliloquywp {
  margin: 50px 0;
}

.soliloquy-container .soliloquy-viewport {
  min-height: 700px;
}

.wp-block-soliloquy-soliloquywp .soliloquy-controls-direction {
  position: absolute !important;
  right: 0;
  top: -40px;
}

.wp-block-soliloquy-soliloquywp .soliloquy-pager {
  display: none;
}

.wp-block-soliloquy-soliloquywp .soliloquy-controls-direction a {
  position: relative !important;
  background-image: none !important;
  background-color: transparent;
  border: 1px solid #03755e;
  padding: 19px;
}

.wp-block-soliloquy-soliloquywp .soliloquy-container .soliloquy-next {
  right: 0;
  top: 0;
  margin-top: -40px;
  border-radius: 0 50% 50% 0;
}

.soliloquy-controls-direction a span {
  position: absolute;
  top: 11px;
  margin-left: -3px;
}

.wp-block-soliloquy-soliloquywp .soliloquy-container .soliloquy-next span:before,
.wp-block-soliloquy-soliloquywp .soliloquy-container .soliloquy-prev span:before {
  content: "\f104";
  font-size: 16px;
  color: var(--brand-color);
  display: inline;
  font-family: "fontello";
}

.wp-block-soliloquy-soliloquywp .soliloquy-controls-direction a:hover {
  background: var(--brand-color);
}

.wp-block-soliloquy-soliloquywp .soliloquy-controls-direction a:hover span:before {
  color: var(--theme-white);
}

.wp-block-soliloquy-soliloquywp .soliloquy-container .soliloquy-prev span:before {
  content: "\e80b";
}

.wp-block-soliloquy-soliloquywp .soliloquy-container .soliloquy-next span:before {
  content: "\e80a";
}

.wp-block-soliloquy-soliloquywp .soliloquy-container .soliloquy-prev {
  left: unset !important;
  right: 39px !important;
  border-radius: 50% 0 0 50%;
}

.wp-block-soliloquy-soliloquywp .soliloquy-container .soliloquy-caption {
  position: relative !important;
  display: block !important;
}

.wp-block-soliloquy-soliloquywp .soliloquy-outer-container.soliloquy-carousel .soliloquy-wrapper,
.wp-block-soliloquy-soliloquywp .soliloquy-viewport {
  width: 100vw !important;
}

.wp-block-soliloquy-soliloquywp .soliloquy-item {
  width: 373px !important;
  margin-right: 40px !important;
}

.soliloquy-theme-base .soliloquy-caption-bottom .soliloquy-caption-inside {
  padding: 40px !important;
  min-height: 400px;
  background: rgba(15, 54, 46, 0.07) !important;
  text-shadow: none !important;
  color: var(--theme-black) !important;
  text-align: left !important;
  font-size: 1.125rem !important;
  line-height: 175% !important;
}

.soliloquy-container .soliloquy-image {
  border-radius: var(--spacing-3) var(--spacing-3) 0 0;
}

/* Footer */
.footer-links {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-links li {
  padding: 4px 0;
}

.footer-links li a {
  text-decoration: none;
}

footer .grid--4 {
  align-items: start;
}

@media (min-width: 769px) {

  .article--container {
    flex-flow: initial;
  }

  .article--slide.collapsed {
    width: 64px !important;
  }

  .article--slide.collapsed .title {
    display: none;
  }

  .article--slide.expanded {
    width: calc(100% - 252px) !important;
  }

  .article--slide {
    transition: width 0.5s ease-in-out;
  }

  #series-slider {
    height: 580px;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    padding: 20px;
  }
  .menu-container {
    height: fit-content;
  }
  [class*="column--"] {
    width: 100%;
  }
  .branding {
    width: 175px;
  }
  .grid--3 {
    grid-template-columns: 1fr;
  }
  .grid--4 {
    grid-template-columns: 1fr 1fr;
  }
  .md-hide {
    display: none !important;
  }
  header .container {
    flex-direction: row;
  }
  #off-canvas .container {
    flex-direction: column-reverse;
  }
  ul.main-menu.nav-desktop {
    display: none;
  }
  #off-canvas ul.main-menu.nav-desktop.off-canvas {
    column-count: 1;
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
    gap: 0;
  }
  #off-canvas ul.global-languages,
  #off-canvas ul.global-languages li {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    gap: var(--spacing-3);
    flex-direction: row;
  }

  #off-canvas ul.global-languages li a {
    color: var(--theme-muted);
    font-weight: 400;
  }
  #off-canvas .icon-cancel {
    position: absolute;
    right: var(--spacing-5);
    top: var(--spacing-5);
    color: var(--theme-accent);
  }

  .latest-news {
    order: 3;
    gap: 20px;
  }
  .latest-featured {
    order: 1;
  }
  .latest-banners {
    order: 2;
  }
  .article--container .featured-image .title h1 {
    font-size: 1.5rem;
    line-height: 1;
  }
  .article--container .title h3 {
    font-size: 1em;
  }
  .banner .title h1.extra-large,
  .section--highlight h1,
  .section--inspiration .title h1 {
    font-size: 2.625rem;
    line-height: 1.25;
  }
  .section--highlight h1 {
    max-width: 100%;
  }
  .section--inspiration {
    padding: 40px 20px;
    box-sizing: inherit;
  }
  .section--inspiration .title {
    width: 100%;
    margin-bottom: 100px;
  }

  .section--inspiration .items {
    width: 80%;
    margin: 0 auto;
  }

  .section--inspiration .item-container:first-child {
    margin-bottom: 40px;
    top: -40px;
  }

  .section--inspiration .item-container .item-title {
    font-size: 1.6rem;
  }

  #series--description-container,
  .section--series-more .in-row {
    flex-direction: column;
  }

  #series--description-container .series--browse {
    align-items: initial;
  }

  .section--highlight.series .featured-image:first-child {
    min-height: 60vh;
  }
  .section--highlight.series .featured-image:first-child img {
    object-fit: cover;
    height: 50vh;
  }

  #series-slider .article--container .featured-image, 
  .article--slide.expanded {
    height: 400px;
  }

  .article--slide.collapsed {
    width: 100% !important;
    height: 52px !important;
  }

  .article--slide.collapsed, .article--slide.expanded{
    overflow: hidden;
    border-radius: var(--rounded);
  }
}
